<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Calculator</title>
  <script src=<script src="/node_modules/angular/angular.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "calculator.css" />

</head>

<body>
  <div ng-app="mainApp" align="center">
    <h2>CALCULATOR (Angular JS)</h2>
    <div ng-controller="CalculatorCtrl">
        <table width="300px" height="400px" align="center">
            
            <tr>
                <td colspan="4">
                    <input type="text" style="text-align:right;font-family:arial black;font-size:20px; width: 250px; height:50px" name="output" id="res" value="{{output}}" disabled = "disabled">
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <button title="Clear all" style="background-color:blue;font-family:arial black;width:90px" ng-click="output = '0'">C</button>
                    <button title="Delete" style="background-color:blue;font-family:arial black;width:90px" ng-click="press('x')">&#9003; </button> 
					<button title="Operate ÷" style="background-color:orange;font-family:arial black;width:60px" ng-click='operate("/")' >÷</button>
                </td>
            </tr>
			
            <tr>
                <td colspan="4">
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('7')">7</button>
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('8')">8</button>
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('9')">9</button>
                     <button title="Operate *" style="background-color:orange;font-family:arial black;width:60px" ng-click='operate("*")'>x</button>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('4')">4</button>
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('5')">5</button>
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('6')">6</button>
                    <button title="Operate -" style="background-color:orange;font-family:arial black;width:60px" ng-click='operate("-")' >-</button>
                </td>
            </tr>

             <tr>
                <td colspan="4">
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('1')">1</button>
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('2')">2</button>
                    <button style="background-color:white;font-family:arial black;width:60px" ng-click="press('3')">3</button>
                    <button title="Operate +" style="background-color:orange;font-family:arial black;width:60px" ng-click='operate("+")' >+</button>
                </td>

            <tr>
                <td>
                    <button title="Number 0" style="background-color:white;font-family:arial black;width:125px" ng-click="press('0')">0</button>
                    <button title="." style="background-color:white;font-family:arial black;width:60px" ng-click="press('.')">.</button>
					<button style="background-color:red;font-family:arial black;width:60px" ng-click="equal()">=</button>
                </td>
            </tr>

        </table>
        <span align="center" style="color:red">{{msg}}</span>
    </div>
  </div>
  <script type="text/javascript" src ="Calculator.js"></script>
</body>
    
</html>