@charset "utf-8":;

#background{
	background-color: #7e737b;
	background-position: center;
}

.container
{
	width:50px auto;
	margin:200px 5px 100px 15px;
	text-align: center;
	padding-bottom: 100px;
	position:center;
}

.button
{
	position:center;
	width: 80px;
	height: 50px;
	border: none;
	background: #7e737b;
	top: 20;
	bottom: -200;
	font-size:25px;
	text-align: center;
	margin: 1px;
	margin-right: 20px;
	margin-left: -5px;
	margin-top: 5px;
	margin-bottom: -20px;
	font-family: 'arial black';
	color: black;
	border-color: white;


}